<%-include('adminNavbar.ejs')%>

  <div class="container d-flex flex-column align-items-center mt-3">
    <h3 class="font-weight-bold fromTopmargin mt-5 headText">Update Attendance Account</h3>
    <form class="d-flex flex-column justify-content-center w-50">
      <div class="form-row formUpdate">
        <div class="">
          <input type="text" placeholder="Enter Attendance Name" class="form-control  my-4 name" value="<%= user.name%>" name="">
        </div>
      </div>
      <div class="form-row">
        <div class="">
          <input type="text" placeholder="Enter Attendance ID" class="form-control my-4 id" value="<%= user.employeeID%>" name="" readonly>
        </div>
      </div>
      <div class="form-row">
        <div class="">
          <input type="email" placeholder="Enter Attendance Email" class="form-control  my-4 email" value="<%= user.email%>" name = "">
        </div>
      </div>
      <div class="form-row">
        <div class="">
          <input type="text" placeholder="Enter Attendance Mobile Number" class="form-control  my-4 mobile" value="<%= user.mobile%>" name="">
        </div>
      </div>
      <div class="form-row d-flex justify-content-center">
        <button class="btn btn-color w-50 updateBtn" type="submit">Update</button>
      </div>
    </form>
  </div>

</body>
</html>