<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UIU Game Room Reservation || Student</title>
  <link rel="icon" href="/images/uiuLogo.png">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/studentHomePage.css">
  <script src="/js/bootstrap.bundle.min.js" defer></script>
  <script src="/js/logOutBtn.js" defer></script>
  <script src="/js/cancelReservation.js" defer></script>
  <script src="/js/changePassword.js" defer></script>
  <script src="/js/showPP.js" defer></script>
</head>

<body>

  <%-include('studentNavbar.ejs')%>

    <div class="container formTopMargin">
      <div class="text-left">
        <div class="row">
          <div class="col-lg-7 col-12">
            <div class="row">
              <div class="col">
                <p class="mt-3"><b>Upcoming Schedule</b></p>
              </div>
              <div class="col text-lg-end text-end">
                <h6 class="mt-3"><a href="/studentHistoryPage">Reservation History</a></h6>
              </div>
            </div>
            <% time.forEach((i) =>{%>
              <div class="schedule row bg-body-tertiary p-3 rounded-2 mb-4">
                <div class="col-lg-8 col-12">
                  <h6><b>Schedule Token: <%= i._id %> </b></h6>
                  <h6><b>Date: <%= i.reservationDate %></b></h6>
                  <h6><b>Game: <%= i.game %></b></h6>
                  <h6><b>Board: <%= i.board %></b></h6>
                  <h6><b>Schedule: <%= i.reservationTime %></b></h6>
                </div>
                <div class="col-lg-4 col-12 d-flex flex-column align-items-lg-end">
                  <script>
                    var dt1 = new Date();
                    var dt2 = new Date("<%= i.reservationDate %>");
                    var diff = dt2.getTime() - dt1.getTime();
                    var days = Math.ceil(diff / (1000 * 3600 * 24));
                    document.write("<h6 class='text-secondary'><b>" + days + " days to go</b></h6>");
                  </script>
                  <div class="mt-auto">
                    <button type="button" class="btn btn-danger cancelBtn" name=<%= i.reservationDate %> id=<%= i._id %>>Cancel Reservation</button>
                  </div>
                </div>
              </div>
            <% })%>
          </div>
          <div class="col-lg-5 col-12 p-5">
            <div class="row">
              <div class="card text-lg-end rounded-circle">
                <img src="" alt="." class="image" width="307" height="288">
              </div>
            </div>
            <div class="row">
              <h5><b>Name: <%= user.name%></b></h5>
              <h5><b>Email: <%= user.email%></b></h5>
              <h5><b>ID: <%= user.studentID%></b></h5>
              <h5><b>Status: <%= user.status%></b></h5>
              <h6><a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">Upload Profile Picture</a></h6>
              <h6><a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Change Password</a></h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Upload Profile Picture</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <div class="mb-3">
                <form action="/updatePP" enctype="multipart/form-data" method="post">
                  <div class="mb-3">
                      <label for="formFile" class="form-label">Upload a image</label>
                      <input class="form-control" name="image" type="file" id="formFile" required>
                  </div>
                  <button type="submit" class="btn btn-warning">Upload</button>
                </form>
              </div>    
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Change Password</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Enter Your New Password</label>
              <input type="text" class="form-control changePW" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-warning passChange">Save</button>
          </div>
        </div>
      </div>
    </div>

</body>

</html>